/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo-image,
.sidebar .dark-mode-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* Ensure it takes the full width of the sidebar */
}

.sidebar .dark-mode-image {
    display: none;
    /* Hide in light mode */
}

.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

h1 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Modal styles */
.modal-content {
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#taskModal,
#chatGPTModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#taskModal .modal-content,
#chatGPTModal .modal-content {
    width: 90%;
    max-width: 500px;
}

/* Dark Mode styles */
body.dark-mode {
    background-color: #333;
    color: #ccc;
}

body.dark-mode .sidebar {
    background-color: #444;
}

body.dark-mode .sidebar .dark-mode-image {
    display: block;
    /* Show in dark mode */
}

body.dark-mode table {
    border-color: #555;
}

body.dark-mode th {
    background-color: #666;
    color: #fff;
}

body.dark-mode td {
    background-color: #555;
    color: #ccc;
}

/* Button styles */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}